/* Custom styles bootstrap */
.row {
  flex-wrap: nowrap;
}
.border-bottom {
  border-bottom: 1px solid #494949!important;
}
@media (min-width: 320px) {
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
