body {
  /* background-color: #1c1c1e; */
  background-color: #1c1c1e;
  color: #fefefe;
}
/* Header */
.header {
  height: 68px;
  color: #fefefe;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow:none;
}
/* Grid */
.grid {
  margin: 0 auto;
  background-color: #3b3b3b;
  color: #fefefe;
}
/* Img */
img {
  filter: grayscale(20%);
}
/* Navbar bottom */
.fixed-bottom {
  background-color: var(--main-color);
  color: #fefefe;
}
/* Botones Cantidad */
.botones-cantidad {
  background-color: var(--main-color);
}