/* Header */
.header {
  height: 68px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(227, 227, 227, 1);
  box-shadow: 0px 2px 5px 0px rgba(227, 227, 227, 1);
}
.header .header-div {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
}
.logo {
  height: inherit;
  cursor: pointer;
}
.logo img {
  max-width: 100%;
  display: block;
  height: inherit;
}
.buscador-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buscador-input-container {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: rgba(228, 228, 228, 0.6);
  color: #333;
  display: flex;
  align-items: center;
}
.buscador-input-container input {
  border: none;
  width: 100%;
  padding-left: 20px;
  background-color: transparent;
}
.buscador-input-container input:focus {
  outline: none;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu a {
  text-decoration: none;
  color: inherit;
}
.enlaces {
  max-width: 48px;
  font-size: 1.7em;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: inherit;
  cursor: pointer;
}
.enlaces:hover {
  transform: scale(1.2);
}
.carrito {
  width: 50px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carrito i {
  display: block;
  transform-origin: center top;
  font-weight: bold;
}
.carrito.notify i {
  animation-name: carrito;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
.carrito:after {
  content: attr(data-count);
  font-size: 11px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 14px;
  height: 14px;
  background: #ff4600;
  border-radius: 50%;
  font-family: Arial;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: 0.3s;
  transform: scale(0.5);
  will-change: opacity, transform;
}
.carrito.show-count:after {
  opacity: 1;
  transform: scale(1);
  color: white;
}
/* Side nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav span {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openMain {
  transform: translateX(-250px);
}
#main {
  transition: 0.5s;
}
/* Grid */
.grid-container {
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}
.grid {
  margin: 0 auto;
}
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 20%; /* Establece el tamaño de las columnas */
}
.grid-item {
  height: auto;
  cursor: pointer;
}
.grid-item .image-container {
  padding: 5px;
  position: relative;
}
.grid-item .image-container img {
  display: block;
  border-radius: 5px;
  max-width: 100%;
}
.nombre-producto-container {
  padding: 5px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}
.span-descuento {
  font-size: .8em;
  color: gray;
}
.precio-con-descuento {
  text-decoration: line-through;
}
.porcentaje-descuento {
  margin-left: 5px;
}
.precio-detalle {
  font-weight: 600;
}
.container-cantidad {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  bottom: 15px;
  justify-content: space-between;
  padding: 0 30px;
}
.botones-cantidad {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 50%;
}
.btn-menos {
  opacity: 0;
  transition: .3s;
}
.btn-menos.mostrar-boton-menos {
  opacity: 1;
}
.cantidad-producto {
  font-size: 3em;
  opacity: 0;
  font-weight: 600;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.575);
  color: rgba(255, 255, 255, 0.575);
}
.cantidad-producto:after {
  content: attr(data-count);
  opacity: 1;
  transition: 0.3s;
  will-change: opacity, transform;
}
.cantidad-producto.mostrar-cantidad {
    opacity: 1;
    transform: scale(1);
}
.cantidad-producto.animacion  {
  animation-name: mostrar;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
/* Bar nav fixed bottom */
.fixed-bottom {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}
.fixed-bottom a {
  font-size: 1.5em;
}
.titulo-brand {
  font-size: 0.5em;
}
.navbar-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Modal */
.img-modal-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.modal-body-empresa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-img-container {
  width: 300px;
}
.modal-img {
  display: block !important;
  max-width: 100% !important;
}
.parrafo-modal {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Modal carrito */
.table {
  color: rgb(122, 122, 122);
}
.td-centrado {
  vertical-align: middle !important;
  text-align: left;
}
.cantidad-modal {
  margin: 0 5px;
}
td i {
  cursor: pointer;
}
/* Modal Producto */
.container-description-producto {
  padding: 17px;
}
/* Navbar bottom */
.fixed-bottom {
  background-color: var(--main-color);
}
@keyframes carrito {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes mostrar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 769px) {
  .fixed-bottom {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .grid-sizer,
  .grid-item {
    width: 33%;
  }
}
@media screen and (max-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .enlace-carrito,
  .enlace-whatsapp {
    display: none;
  }
  .image-col,
  .logo {
    display: none !important;
  }
}
@media screen and (max-width: 480px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}

